.Register {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.Register form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
}

@media (min-width: 768px) {
  .Register form {
    width: 25%;
  }
}
