@import "styles/skeleton.css";
@import "App.css";
@import "NavBar/NavBar.css";
@import "NotFound/NotFound.css";
@import "Welcome/Welcome.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}
