.PasswordDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.PasswordDetails form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
}

@media (min-width: 768px) {
  .PasswordDetails form {
    width: 25%;
  }
}
